<app-add-item 
    *ngIf="showAddModal" 
    [isOpen]="showAddModal" 
    (closeModal)="closeAddModalHandler()"
    (addItem)="onAddItem($event)">
</app-add-item>

<app-import 
    *ngIf="showImportModal" 
    [isOpen]="showImportModal" 
    (closeModal)="closeImportModalHandler()"
    (importFile)="onImportFile($event)">
</app-import>

<app-update-item
    *ngIf="showUpdateModal"
    [isOpen]="showUpdateModal"
    [item]="selectedItem"
    (closeModal)="closeUpdateModalHandler()"
    (updateItem)="onUpdateItem($event)"
></app-update-item>