$amazon-yellow: #FF9900;
$amazon-dark-grey: #232F3E;
$amazon-light-grey: #F7F7F7;
$amazon-black: #000000;
$amazon-blue: #146EB4;

.no-items-message i,
.loading-inventories i {
    color: $amazon-yellow;
}

.suggestion {
    color: $amazon-blue
}