$amazon-yellow: #FF9900;
$amazon-dark-grey: #232F3E;
$amazon-light-grey: #F7F7F7;
$amazon-black: #000000;
$amazon-blue: #146EB4;

.search-container {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-input {
    width: 100%;
    padding: 8px 15px 8px 35px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.button-group {
    display: flex;
    gap: 10px;
}

.add-btn {
    background-color: $amazon-yellow;
    border: none;
    color: $amazon-black
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.modify-btn i {
    color: $amazon-blue
}

.delete-btn i {
    color: #dc3545;
}

.actions-cell {
    white-space: nowrap;
}

.table th {
    background-color: $amazon-blue;
    color: white;
    cursor: pointer;
}

.table th:hover {
    background-color: #3793da;
}

.no-items-message i,
.loading-inventories i {
    color: $amazon-yellow;
}

.suggestion {
    color: $amazon-blue
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

ngb-pagination .page-item.active .page-link {
    background-color: $amazon-yellow;
    border-color: $amazon-yellow;
    color: $amazon-black
}

ngb-pagination .page-link {
    color: $amazon-dark-grey;
}

.page-size-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-select {
    min-width: 15px;
}